/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

:root {
    --clr-bg: rgb(31, 26, 44);
    --clr-text: rgb(187, 187, 187);
    --clr-text-intensive: rgb(255, 255, 255);
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moment {
    display: inline-block;
    position: relative;
    user-select: none;
    text-align: center;
    font-size: 1.2vw;
    width: 1.2vw;
}

.upper-extension {
    position: absolute;
    bottom: 100%;
}

.lower-extension {
    position: absolute;
    top: 100%;
}

.note {
    display: block;
    color: var(--clr-text);
}

.note:hover {
    color: var(--clr-text-intensive);
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    font-weight: inherit;
}

.center {
    text-align: center;
}

.button {
    background-color: transparent;
    border: 1px solid var(--clr-text);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--clr-text);
}

.button:hover {
    color: var(--clr-text-intensive);
    border-color: var(--clr-text-intensive);
}

.input {
    background-color: transparent;
    border: 1px solid gray;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: gray;
}

.input:hover {
    color: black;
    border-color: black;
}

.input-label {
    color: gray;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
}